
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-family:Tahoma;
    font-size:10pt;
    background:#eff0eb;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* NAVBAR  Customization*/
.navbar-default {
  background-color: #565f73;
  border-color: #000000;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: #dee6f2;
}



.navbar-default .navbar-brand {
  color: #ffffff;
  font-family:'Myriad Arabic';
  font-size:18pt;
  font-weight:600;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

/* Header*/

.header_img {
    width:100%;
    height:250px;
    margin-top:20px;
}
.header_mng {
    width:auto;
    height:80px;
    margin:0;
}

/*   ICONS        */
.glyphicon-phone ,.glyphicon-globe, .glyphicon-envelope{
    font-size:20px;
     color:#815eae; 
}

.glyphicon-phone-alt{
    font-size:20px;
    line-height:1.5;
    color:#815eae;    
}

.glyphicon-list {
   font-size:22px;
    color:#4304e3; 

}
.glyphicon-edit  {
     font-size:20px;
    color:#eff561;  
}

.glyphicon-list-alt {
    font-size:20px;
    color:#36cc8b;  
}

.glyphicon-file {
     font-size:20px;
    color:#288df5; 
}
.glyphicon-file:hover {
     font-size:22px;
    color:#095bae; 
}
 .glyphicon-list:hover {
     font-size:23px;
    color:#2d0396;  
    text-decoration:none; 
    }
  .glyphicon-list-alt:hover {
     font-size:22px;
    color:#0e814f;  
    text-decoration:none; 
    }

    .glyphicon-edit:hover {
     font-size:25px;
    color:#f0f92b; 
    text-decoration:none; 
    }

.glyphicon-remove{
    font-size:20px;
    color:#f20031;  
}
    .glyphicon-remove:hover {
     font-size:25px;
    color:#d80731;  
    text-decoration:none; 
    }
.jumbotron {
    margin-top:2%;
    direction:rtl;
    line-height:2;
    text-align:justify;
    background-color:#dad8db;
}

.border {
  background: #b200ff;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 60px;
  margin-bottom: 40px;
}

.border_admin {
  background: #54589f;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 40px;
  text-align:right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4e1a64;
  font-family:'Myriad Arabic';
  font-weight: 100;
  margin-top: 0;
  letter-spacing: 1px;
  text-align:center;
}

h1 {
  font-size:46px;
  line-height:46px;
}

h2 {
  font-size:40px;
  line-height:48px;
}

h3 {
  font-size:36pt;
  line-height:46px;
  margin-bottom: 15px;
}

h4 {
  font-size:30px;
  line-height:32px;
}

h5 {
  font-size:26px;
  line-height:30px;
}

h6 {
  font-size:22px;
  line-height:30px;
}


.editor-label {
float:right;
 font-size:10pt;
 direction:rtl;
 margin-right:5%;
}

.editor-field {
float:right;
  direction:rtl;
  font-size:10pt;
  color:#565f73;
}
.textbox {
    width: 100%;
    max-width: 100%;
    height: 30px;
    padding-right: 5px;
    border: 1px solid #c1c1c1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.multiline_textbox {

    width: 100%;
    max-width: 100%;
    height: 120px;
    padding-right: 5px;
    border: 1px solid #c1c1c1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:10pt;
}


.btn_add {
    float: right;
    margin-right:2%;
    width:120px;
}


.btn-primary { 
    width:100%;
    height: 35px;
    background-image: -webkit-linear-gradient(top, #54589f 0%, #8588c1 100%);
  background-image:      -o-linear-gradient(top, #54589f 0%, #8588c1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54589f), to(#8588c1));
  background-image:         linear-gradient(to bottom, #54589f 0%, #8588c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54589f', endColorstr='#ff8588c1', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #54589f;
  box-shadow:#B4B5B5 5px 5px 5px 0;
}

    .btn-primary:active:focus {
       background-image: -webkit-linear-gradient(top, #8d90bf 0%, #8d90bf 100%);
  background-image:      -o-linear-gradient(top, #8d90bf 0%, #8d90bf 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8d90bf), to(#8d90bf));
  background-image:         linear-gradient(to bottom, #8d90bf 0%, #8d90bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8d90bf', endColorstr='#ff8d90bf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #8d90bf;
    
    }

.error {
    font-size:9pt;
    color:red;
}

/*JQuery Delet Dialog*/

.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-width: 0 8px 8px 8px;
}
#delete_dialog {
    margin-top:100px;
    text-align:center;
    font-size:2em;
    color:red;
}

.a_clickable {
cursor:pointer;
}

/* Modal CSS For Delete*/
.modal-header-info {
     height:50px;
	color:#fff;
    padding:8px;
    border-bottom:1px solid #eee;
    background-color: #288df5;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
      
    height:50px;
	color:#fff;
    padding:5px 10px 0 0;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
    .modal-header-danger h6 {
         font-size:15pt;
         text-align:left;
         padding:7px 0 0 10px;
         color:#fff;
    }
    .modal-body{
         overflow-y: auto;
         font-size:10pt;
    }
.border-modal {
    height: 400px;
    float: right;
    width: 100%;
    height: 98%;
    border: 1px solid #a9a6a6;
    box-shadow:#e2e2e2 0px 0px 5px 5px;
    padding-right: 8px;
}

.glyphicon-info-sign {
     color:#fff; 
     font-size:20pt;
     padding:0;
     float:left;
}
.glyphicon-alert {
margin-right:10px;
     color:#fff; 
     font-size:12pt;
}
.btn-confirm {
background-color:#eebab9; 
color:#890707; 
font-size:10pt;
width:80px;
}


.add-more {
    float:left;
     height:30px;
    width:12%;
    background-color:#b8b8b8;
}
.remove-me {
     float:left;
    height:30px;
    width:12%;
}

.txt_keyword {

    width:85%;
    max-width:85%;
    height:30px;
    padding-right: 5px;
    border: 1px solid #c1c1c1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:9pt;
    direction:rtl;
}

.field_title {
    float:right;
  direction:rtl;
  font-size:10pt;
  color:#fff;
}

.fa-sign-out {
     color:#e76f1a; 
}
.fa-bank,.fa-user {
color:#36cc8b
}
.fa-pencil-square-o {
    color:#f9f67a

}
.fa-search {
color:#288df5;
}
.fa-cog {
    color:#288df5
}

.link_solution {
  font-size:11pt;
    color:#623799;

}
.link_solution:hover {
    text-decoration:underline;
    color:#7222d9;
  font-size:12pt;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #d5d8f4;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.question_box {
    float: right;
    width: 98%;
    margin-top: 3%;
    border-radius: 5px;
 background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 8px;
    min-height: 100px;
    overflow-y: auto;
}

thead th {
  background-color: #006DCC;
  color: white;
}