@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-family:'Open Sans', sans-serif;
    font-size:10pt;
    background:#f1f6f7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Home Page*/
.btn-home{
   -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width:220px;
  height:200px;
  margin:50px;
  color:#fff;
  text-align:center;
  font-size:12pt;
  font-weight:bold;
  line-height:2;
   -webkit-transition: width 0.5s, height 0.5s, margin 0.5s,padding 0.5s;
    -moz-transition: width 0.5s, height 0.5s, margin 0.5s,padding 0.5s;
    -ms-transition: width 0.5s, height 0.5s, margin 0.5s,padding 0.5s;
    transition: width 0.5s, height 0.5s, margin 0.5s,padding 0.5s;
}
.btn-home:hover {
    box-shadow:10px 10px 10px 0 #c1c1c1;
    width:230px;
  height:210px;
  cursor:pointer;
  margin:25px;
  color:#fff;

}
.red_box {
  border:2px solid #db3806;
  background-color:#ec5a2d;
}
.green_box {
  border:2px solid #5dac2d;
  background-color:#72c242;
}
.yellow_box {
  border:2px solid #fdc32c;
  background-color:#fdc73d;
}

/*Navbar*/

.navbar-brand a,.navbar-brand i {
color:#fff;
text-decoration:none;
cursor:pointer;
}

.top_buffer10 {
margin-top:10px;
}

.top_buffer20 {
margin-top:20px;
}

.top_buffer50 {
margin-top:50px;
}

/* Header*/

.header_img {
    width:100%;
    height:250px;
    margin-top:50px;
}
.header_mng {
    width:auto;
    height:120px;
    margin:0;
}

/*   ICONS        */
.fa-phone-square ,.fa-map-marker, .fa-envelope,.fa-internet-explorer{
     color:#29417f; 
}
.glyphicon-list {
   font-size:22px;
    color:#4304e3; 

}
.glyphicon-edit {
     font-size:20px;
    color:#ebf24b;  
}

.glyphicon-list-alt,.glyphicon-folder-open {
    font-size:20px;
    color:#36cc8b;  
}

.glyphicon-file ,.glyphicon-download,.glyphicon-comment{
     font-size:20px;
    color:#288df5; 
}
.glyphicon-file:hover ,.glyphicon-download:hover,.glyphicon-comment:hover{
     font-size:22px;
    color:#095bae; 
    text-decoration:none; 

}
 .glyphicon-list:hover {
     font-size:23px;
    color:#2d0396;  
    text-decoration:none; 
    }
  .glyphicon-list-alt:hover,.glyphicon-folder-open:hover  {
     font-size:22px;
    color:#208d5d;  
    text-decoration:none; 
    }

    .glyphicon-edit:hover{
     font-size:25px;
    color:#f0f92b; 
    text-decoration:none; 
    }

.glyphicon-remove-circle {
     font-size:22px;
    color:red; 
}
.glyphicon-remove-circle:hover {
     font-size:25px;
    color:#c10606; 
    text-decoration:none
}
.glyphicon-ok-circle {
  font-size:22px;
    color:#39ae47; 
}
.glyphicon-ok-circle:hover {
  font-size:25px;
    color:#31863b; 
    text-decoration:none
}

.glyphicon-trash{
    font-size:18px;
    color:#f60e3e;  
}
    .glyphicon-trash:hover {
     font-size:22px;
    color:#c1082e;  
    text-decoration:none; 
    }
.jumbotron {
    margin-top:2%;
    line-height:2;
    text-align:justify;
    background-color:#dee8f2;
    font-size:12pt;
}

.border {
  background: #29417f;
  display: block;
  height: 2px;
  margin: 0 auto;
  width:200px;
  margin-bottom: 40px;
}

.border_admin {
  background: #29417f;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 200px;
  margin-bottom:20px;
  text-align:right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #29417f;
  font-family:'Open Sans', sans-serif !important;
  font-weight: 200;
  margin-top: 0;
  letter-spacing: 1px;
  text-align:center;
}

h1 {
  font-size:46px;
  line-height:46px;
}

h2 {
  font-size:40px;
  line-height:48px;
}

h3 {
  font-size:36pt;
  line-height:46px;
  margin-bottom: 15px;
}

h4 {
  font-size:30px;
  line-height:32px;
}

h5 {
  font-size:26px;
  line-height:30px;
}

h6 {
  font-size:22px;
  line-height:30px;
}


.form-control {
    width: 100%;
    max-width: 100%;
    font-family:'Open Sans', sans-serif;
}

.multiline_textbox {

    width: 100%;
    max-width: 100%;
    height: 120px;
    padding-right: 5px;
    border: 1px solid #c1c1c1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:10pt;
}
.div_lable {
    font-family:'Open Sans', sans-serif;
    font-size:10pt !important;
}
.btn-primary {
    width: 100%;
    height: 35px;
    background-image: -webkit-linear-gradient(top, #2349ab 0%, #4f6dbd 100%);
    background-image: -o-linear-gradient(top, #2349ab 0%, #4f6dbd 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2349ab), to(#4f6dbd));
    background-image: linear-gradient(to bottom, #2349ab 0%, #4f6dbd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2349ab', endColorstr='#ff4f6dbd', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #2349ab;
    box-shadow: #B4B5B5 5px 5px 5px 0;
    font-family: 'Open Sans', sans-serif;
}

    .btn-primary:hover, .btn-primary:focus {
        background-position: 0px !important;
        background-image: -webkit-linear-gradient(top, #4f6dbd 0%, #809dd9 100%);
        background-image: -o-linear-gradient(top, #4f6dbd 0%, #809dd9 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#4f6dbd), to(#809dd9));
        background-image: linear-gradient(to bottom, #4f6dbd 0%, #809dd9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f6dbd', endColorstr='#ff809dd9', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        background-repeat: repeat-x;
        border-color: #54589f;
        box-shadow: #B4B5B5 5px 5px 5px 0;
    }
 
   
.error {
    font-size:9pt;
    color:red;
}

/*JQuery Delet Dialog*/

.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-width: 0 8px 8px 8px;
}
#delete_dialog {
    margin-top:100px;
    text-align:center;
    font-size:2em;
    color:red;
}

.a_clickable {
cursor:pointer;
}

/* Modal CSS For Delete*/
.modal-header-info {
     height:50px;
	color:#fff;
    padding:8px;
    border-bottom:1px solid #eee;
    background-color: #288df5;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
    height:50px;
	color:#fff;
    padding:10px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
    .modal-header-danger h6 , .modal-header-info h6 {
         font-size:15pt;
         text-align:left;
         padding:7px 0 0 10px;
         color:#fff;
    }

.border-modal {
    height: 400px;
    float: right;
    width: 100%;
    height: 98%;
    border: 1px solid #a9a6a6;
    box-shadow:#e2e2e2 0px 0px 5px 5px;
    padding-right: 8px;
}

.glyphicon-info-sign {
     color:#fff; 
     font-size:15pt;
   margin-right:10px;

}
.glyphicon-alert {
margin-right:10px;
     color:#fff; 
     font-size:12pt;
}
.btn-confirm {
background-color:#eebab9; 
color:#890707; 
font-size:10pt;
width:80px;
}


.add-more {
    float:left;
     height:25px;
    width:12%;
    background-color:#b8b8b8;
      margin:8px 5px 0 0;

}
.remove-me {
     float:left;
    height:25px;
    width:12%;
    margin:8px 5px 0 0;

}

.txt_keyword {

    width:85%;
    max-width:85%;
    height:30px;
    padding-right: 5px;
    border: 1px solid #c1c1c1;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:9pt;
    direction:rtl;
    margin-top:5px;
}

.field_title {
    float:right;
  direction:rtl;
  font-size:10pt;
  color:#fff;
}

.fa-sign-out {
     color:#e76f1a; 
}
.fa-bank,.fa-user {
color:#36cc8b
}
.fa-pencil-square-o,.fa-folder {
    color:#f9f67a;

}
.fa-search {
color:#288df5;
}
.fa-cog {
    color:#288df5;
}

.link_solution {
  font-size:11pt;
    color:#623799;
}

.link_solution:hover {
    text-decoration:underline;
    color:#7222d9;
  font-size:12pt;
}

.table-striped {
  direction:rtl

}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #d5d8f4;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}



thead th {
  background-color: #006DCC;
  color: white;
}


.alert-success {
    height:50px;
    padding:15px;
    margin-top:2%;
}

/*************PANEL*/
.panel-default{
    text-align:right;
background:#e3e2e2 !important;

}
.panel-heading {
direction:rtl;
/*background:#4e5c7d !important;*/
background:#695d8e !important;
    border-color:#d0c2f7;
   
}
.panel-title {
    font-family:'Open Sans', sans-serif;
    font-size:14pt;
    text-align:right;
    color:#e9e8e8;
}

    .panel-title:hover {
    text-decoration:none;
    font-size:16pt;

    }

a.accordion-toggle  i{
  width: 45px;
  line-height:55px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background:#9c8fc0;
}

.panel-body {
direction:rtl;
}

.nopadding {
padding:0;
}