
@model Knowledge_Management.ViewModels.UploadViewModel

@{

    Layout = null;
}

@using (Ajax.BeginForm("Delete_Upload", "ViewEntrybyEmployee"
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.ReplaceWith,
                        HttpMethod = "Post",
                        OnSuccess = "SuccessAction"
                    }))
{

    @Html.AntiForgeryToken()


    <div class="modal-header modal-header-danger">
        <button type="button" class="close" id="close_delete_modal" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
        <h6><i class="glyphicon glyphicon-alert"></i>Alert</h6>
    </div>
    <div class="modal-body">
        Are you sure to delete this row?
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-confirm" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-confirm" value="Confirm" />
        @Html.HiddenFor(d => d.upload_id)
    </div>
}

<script type="text/javascript">
    var SuccessAction = function (result) {
        if (result.msg) {
            $('#DeleteModal').modal('hide');
            $("#alert_success").html(result.msg);
            $("#div_alert").slideDown(500);
            var $STTable = $("#UploadDT").dataTable({ bRetrieve: true });
            $STTable.fnDraw();
        }
    }
</script>


