@model Knowledge_Management.Areas.User.ViewModels.SolutionEmployeeViewModel

@{

    Layout = null;
}

@using (Ajax.BeginForm("Delete_Solution", "ViewEntrybyEmployee"
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.ReplaceWith,
                        HttpMethod = "Post",
                        OnSuccess = "SuccessDeleteSolution"
                    }))
{

    @Html.AntiForgeryToken()

    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="confirm-container">

                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" id="close_delete_modal" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
                    <h6><i class="glyphicon glyphicon-alert"></i>Alert</h6>
                </div>
                <div class="modal-body">
                    Are you sure to delete this row?
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-confirm" value="Confirm" />
                    <button type="button" class="btn btn-confirm" data-dismiss="modal">Cancel</button>
                    @Html.HiddenFor(d => d.solution_id)
                </div>
            </div>
        </div>
    </div>
}



