@model Knowledge_Management.Areas.User.ViewModels.SolutionEmployeeViewModel

@{

    Layout = null;
}


<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="confirm-container">

        </div>
    </div>
</div>
<!-- /end Modal -->



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
@Html.HiddenFor(model => model.solution_id, new { id = "hd_solution_id" })

    <table id="UploadDT" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>FilePath</th>
                <th >#</th>
                <th >File Upload</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
   
</div>






