@model Knowledge_Management.Areas.Admin.ViewModels.EmployeeQuestionViewModel

@{
    ViewBag.Title = "Solutions for Question";
    ViewBag.Subtitle = Model.Description;
    Layout = "~/Areas/Admin/Views/Shared/_ManagementLayout.cshtml";
}

@Html.HiddenFor(model => model.emp_id, new { id = "hd_id_emp" })

<div class="col-xs-12 top_buffer10">
    <div class="alert alert-success" role="alert" style="display:none" id="div_alert">
        <a href="#" class="close" id="close_alert">&times;</a>
        <label id="alert_success"></label>
    </div>
    </div>

    <div class="col-xs-12 top_buffer20 nopadding ">
        <table id="SolutionEmployeeDT" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>#</th>
                    <th>Question</th>
                    <th>Solution</th>
                    <th>Confirm Status</th>
                    <th>Document Number</th>
                    <th>Full View</th>
                    <th>Confirm / Reject</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    @section scripts{
        <script src="~/Areas/Admin/Scripts/ViewSolutionEmpDT.js"></script>

    }
