
@{
    ViewBag.Title = "مشاهده مسائل، راهکارها و اسناد وارد شده توسط پرسنل سازمان";
    Layout = "~/Areas/Admin/Views/Shared/_ManagementLayout.cshtml";
}


<h5>مشاهده مسائل، راهکارها و اسناد وارد شده توسط پرسنل سازمان</h5>
<span class="border_admin"></span>

<table id="EmployeeEntryDT" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th >#</th>
            <th >نام</th>
            <th >نام خانوادگی</th>
            <th >کد ملی</th>
            <th >واحد سازمانی</th>
            <th >شغل</th>
            <th>ورود اطلاعات</th>
            <th>مشاهده اطلاعات</th>
            <th>مسائل مطرح شده</th>
            <th>راهکارها و اسناد</th>



        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script src="~/Scripts/Datatables/EmployeeEntryDT.js"></script>
}

