
@{
    ViewBag.Title = "Questions By Employees";
    Layout = "~/Areas/Admin/Views/Shared/_ManagementLayout.cshtml";
}


<div class="col-xs-12 top_buffer50 nopadding ">
    <table id="EmployeeEntryDT" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>#</th>
                <th class="dt-head-center">First Name</th>
                <th class="dt-head-center">Last Name</th>
                <th class="dt-head-center">Personel code</th>
                <th>Department</th>
                <th>Job Title</th>
                <th class="dt-head-center">Access to Insert</th>
                <th class="dt-head-center">Access to View</th>
                <th>Questions</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>
    @section scripts{
        <script src="~/Areas/Admin/Scripts/EmployeeEntryDT.js"></script>
    }

