@model Knowledge_Management.Areas.User.ViewModels.SolutionViewModel
@{
    ViewBag.Title = "Solutions for Question";
    Layout = "~/Areas/Admin/Views/Shared/_ManagementLayout.cshtml";
}

<!-- Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="confirm-container">

        </div>
    </div>
</div>
<!-- /end Delete Modal -->

<div class="col-xs-11 col-xs-offset-1 top_buffer20 nopadding">
    <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h6 class="panel-title">
                    <a class="accordion-toggle" role="button" data-toggle="collapse" href="#collapseQuestion" aria-expanded="true" aria-controls="collapseOne">
                        <i class="glyphicon glyphicon-chevron-down indicator"></i>@Html.LabelFor(model => model.question, new { @class = "div_label" })
                    </a>
                </h6>
            </div>
            <div id="collapseQuestion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.question)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" href="#collapseSolution" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="glyphicon glyphicon-chevron-up indicator"></i>@Html.LabelFor(model => model.solutions, new { @class = "div_label" })
                    </a>
                </h4>
            </div>
            <div id="collapseSolution" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="col-xs-12 top_buffer10">
                        <div class="alert alert-success" role="alert" style="display:none" id="div_alert">
                            <a href="#" class="close" id="close_alert">&times;</a>
                            <label id="alert_success"></label>
                        </div>
                    </div>

                    <div class="col-xs-12 top_buffer10">
                        <table id="SoutionListDT" class="display">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>#</th>
                                    <th>Solution Description</th>
                                    <th>Confirm Status</th>
                                    <th>Document Numbers</th>
                                    <th>Full View</th>
                                    <th>Confirm / Reject</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Html.HiddenFor(model => model.question_id, new { id = "hd_id_question" })


@section scripts{
    <script src="~/Areas/Admin/Scripts/ViewSolutionQueDT.js"></script>
}


