@model Knowledge_Management.Areas.Admin.ViewModels.EmployeeQuestionViewModel

@{
    ViewBag.Title = "Question by Details";
    ViewBag.Subtitle = Model.Description;
    Layout = "~/Areas/Admin/Views/Shared/_ManagementLayout.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="confirm-container">

        </div>
    </div>
</div>
<!-- /end Modal -->

<!-- Modal -->
<div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="confirm-container">
            <div class="modal-header modal-header-info">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
                <h6><i class="glyphicon glyphicon-info-sign"></i>Question Details</h6>

            </div>
            <div class="modal-body">
                <div class="border-modal">
                    <div class="col-xs-12">
                        <label id="question"></label>
                    </div>
                    <div class="col-xs-12">
                        <label id="keywords"></label>
                    </div>
                    <div class="col-xs-12">
                        <label id="strategy_name"></label>
                    </div>
                    <div class="col-xs-12">
                        <label id="dep_objective"></label>
                    </div>
                    <div class="col-xs-12">
                        <label id="job_desc"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- /end Modal -->

@Html.HiddenFor(model => model.emp_id, new { id = "hd_id_emp" })


<div class="col-xs-12 top_buffer10">
    <div class="alert alert-success" role="alert" style="display:none" id="div_alert">
        <a href="#" class="close" id="close_delete_modal">&times;</a>
        <label id="alert_success"></label>
    </div>
    </div>

    <div class="col-xs-12 top_buffer50 ">
        <table id="SearchQuestionDT" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Keywords</th>
                    <th>job_Desc</th>
                    <th>dep_Obj</th>
                    <th>Strategy</th>
                    <th>fullQuestion</th>
                    <th>#</th>
                    <th>Question</th>
                    <th>Details</th>
                    <th>Solutions</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    @section scripts{
        <script src="~/Areas/Admin/Scripts/ViewQuestionDT.js"></script>

    }
