@{
    Layout = null;
}

        <div class="container">

            <div class="row">

                     <div class="jumbotron">

                         <h5>Contact Information</h5>
                         <span class="border"></span>
                         Are you interested in our system and wants to learn more regarding its features?<br />
                         Our agents are ready to response your questions regarding knowledge management system during working hours:
                        <br />
                        <i class="fa fa-phone-square fa-lg"></i> 0098-31-33932477
                        
                        <br />
                         <i class="fa fa-envelope"></i> Email: info@tdmba.ir
                         <br />
                         <i class="fa fa-internet-explorer "></i> Website: www.tdmba.ir                        
                        <br />
                         <i class="fa fa-map-marker fa-lg"></i> Address: TDMBA Knowledge Based Company, Science and Technology Center, University of Isfahan, Isfahan, Iran.
                    </div>
            </div>
        </div>
 


