@{
    ViewBag.Title = "Question Repository";
    Layout = "~/Areas/User/Views/Shared/_EmployeeLayout.cshtml";

}

<!-- Modal -->

<div id="ModalContainer"></div>

<!-- /end Modal -->

<input type="hidden" id="hd_id_keyword" value="@ViewBag.key_id" />

<div class="col-xs-12 top_buffer20 nopadding ">
    <table id="SearchQuestionDT" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Keywords</th>
                <th>job_Desc</th>
                <th>dep_Obj</th>
                <th>Strategy</th>
                <th>fullQuestion</th>
                <th>#</th>
                <th>Question Description</th>
                <th>Details</th>
                <th>Solutions</th>
                <th>New Solution</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
    @section scripts{
   <script src="~/Areas/User/Scripts/SearchQuestionDT.js"></script>
    }
