@{
    ViewBag.Title = "Your Questions";
    Layout = "~/Areas/User/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="col-xs-12 top_buffer20 nopadding ">
    <table id="QuestionDT" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>DepObj_Id</th>
                <th>JobDesc_Id</th>
                <th>Strategy_Id</th>
                <th>Keywords</th>
                <th>#</th>
                <th>Question</th>
                <th>Details</th>
                <th>Solutions</th>
                <th>New Solution</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script src="~/Areas/User/Scripts/QuestionDT.js"></script>
}




