@model Knowledge_Management.ViewModels.FullSolutionViewModel
@{
    ViewBag.Title = "مشاهده راهکار";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h5>مشاهده راهکار</h5>
<span class="border_admin" style="margin-bottom:0;"></span>




    <div class="question_box">

        <div class="field_title" style="width:8%;">
            @Html.LabelFor(model => model.question)
        </div>
        <div class="field_title" style="width:90%; ">
            @Html.DisplayFor(model => model.question)
        </div>
    </div>

    <div style="float:right; width:98%; margin-top:3%">

        <div class="editor-field" style="width:100%;">
            @Html.DisplayFor(model => model.full_solution)
        </div>
    </div>

