
@{
    ViewBag.Title = "Your Solutions";
    Layout = "~/Areas/User/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="col-xs-12 top_buffer10">
    <div class="alert alert-success" role="alert" style="display:none" id="div_alert">
        <a href="#" class="close" id="close_alert">&times;</a>
        <label id="alert_success"></label>
    </div>
</div>

<div class="col-xs-12 top_buffer10">
        <table id="SolutionDT" class="display">
            <thead>
                <tr>
                    <th>Sol_id</th>
                    <th>Q_id</th>
                    <th>#</th>
                    <th>Question</th>
                    <th>Solution Description</th>
                    <th>Document Number</th>
                    <th>Confirm Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    @section scripts{
        <script src="~/Areas/User/Scripts/SolutionDT.js"></script>

    }

