
@{
    ViewBag.Title = "راهکارهای شما";
    Layout = "~/Areas/User/Views/Shared/_EmployeeLayout.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="confirm-container">

        </div>
    </div>
</div>
<!-- /end Modal -->
<h5>راهکارهای معرفی شده توسط شما</h5>
<span class="border_admin" style="margin-bottom:0;"></span>


<div class="alert alert-success fade in" role="alert" style="float:right; width:100%;margin-top:2%; visibility:hidden" id="div_alert">
    <a href="#" class="close" >&times;</a>
    <label id="alert_success"></label>
</div>
<div style="float:right; width:100%;margin:2% 0 2% 0">
    <table id="SolutionDT" class="display">
        <thead>
            <tr>
                <th>Sol_id</th>
                <th>Q_id</th>
               <th >#</th>
                <th >شرح مسئله</th>
                <th >شرح راهکار</th>
                <th >تعداد اسناد</th>
                <th>وضعیت Confirm</th>
                <th>مشاهده و Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/Datatables/SolutionDT.js"></script>

}

