@{
    Layout = null;
}

<div class="container">

    <div class="row">

       
        <div class="jumbotron">
            <h5>About Knowledge Management System</h5>
            <span class="border"></span>
            Knowledge management system has been studied and immplemented by competent programmers in evolvong cycles.
            Some of our main features are:
            <ul>
                <li>Providing a context to store and retrive organization information and data in a structured manner</li>
                <li>Avoiding repeatitive work and time wasting by providing search capabilities in system</li>
                <li>Providing access controls for viewing and entering data and information parts of system</li>
                <li>Allowing employees to define questions and solutions for them as plain text or file upload</li>
            </ul>
        </div>
    </div>
</div>



