@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<div class="container">

    <div class="row">

       
        <div class="jumbotron">
            <h5>درباره شرکت تبلور دانش چهلستون</h5>
            <span class="border"></span>
                شرکت دانش بنیان تبلور دانش چهلستون با دریافت مجوز از
                سازمان فنی و حرفه ای از سال 1388 به صورت رسمی فعالیت آموزشی و پژوهشی (مالی _ بازرگانی) خود
                را آغاز نموده و با ماموریت ایجاد فضای رقابتی برای تعالی سازمان ها و با توجه به اهمیت
                نقش نیروی انسانی در افزایش بهره وری و عملکرد سازمان ها توانسته با عنایت به الطاف الهی از
                سال 1390 گامی موثر در جهت ارائه نرم افزار علمی و اجرایی سیستم جامع شناسایی و مدیریت
                استعداد بردارد و در سال 1393 موفق به دریافت گواهینامه تائید فنی به شماره ثبت 205476
                از شورای عالی انفورماتیک و معاونت برنامه ریزی و نظارت راهبردی رئیس جمهور گردد.
                لازم به ذکر است شرکت تبلور دانش چهلستون در راستای انجام فعالیت های پژوهشی و آموزشی
                با رویکرد دانش محور توانست به عنوان شرکت دانش بنیان را در تاریخ 1393/12/16 اخذ نماید.
        </div>
    </div>
</div>



