@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


   
        <div class="container">

            <div class="row">

                     <div class="jumbotron">

                         <h5> اطلاعات تماس شرکت تبلور دانش چهلستون</h5>
                         <span class="border"></span>

                        برای تماس با شرکت دانش بنیان تبلور دانش چهلستون می توانید با شماره تلفن های زیر تماس حاصل نمایید:
                        <br />
                        <i class="glyphicon glyphicon-phone-alt"></i> ۰۳۱-۳۳۹۳۲۴۷۷
                        <br /><i class="glyphicon glyphicon-phone-alt"></i> ۰۳۱-۳۳۹۳۲۴۷٨
                        <br /><br />
                         <i class="glyphicon glyphicon-envelope"></i> پست الکترونیک: info@tdmba.ir
                        
                         <br />
                        <br />
                        <i class="glyphicon glyphicon-globe"></i>  آدرس ما: اصفهان خیابان دانشگاه صنعتی- شهرک علمی تحقیقاتی اصفهان – ساختمان امید- واحد ١٠٥
                    </div>
            </div>
        </div>
 


