
@{
    ViewBag.Title = "ورود به سیستم مدیریت دانش";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section HeadSection{
    <link href="~/Content/style_login.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-1">

        </div>

        <div class="col-xs-3 col-xs-offset-1">

        </div>

        <div class="col-xs-3 col-xs-offset-1">

        </div>


    </div>
    </div>
      


@*<div id="div_login">
        @Html.Partial("_LoginPartial")
    </div>*@
