
@{
    ViewBag.Title = "ورود به سیستم مدیریت دانش";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section HeadSection{

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link href="~/Content/style_login.css" rel="stylesheet" />

}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <div id="targetId">

               @Html.Partial("_LoginPartial")
           </div>

    </div>


    </div>
    </div>
      



