@model Knowledge_Management.Areas.Admin.ViewModels.JobDepQuestionViewModel
@{
    ViewBag.Title = "Questions for Job Title";
    Layout = "~/Areas/Admin/Views/Shared/_ManagementLayout.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="confirm-container">

        </div>
    </div>
</div>
<!-- /end Modal -->

<!-- Modal -->

<div id="ModalContainer"></div>

<!-- /end Modal -->
<div class="col-xs-12 top_buffer50">
    <div class="col-xs-1 nopadding top_buffer10" style="width:90px">
        @Html.LabelFor(model => model.lst_dep, new { @class = "div_lable" })
    </div>
     <div class="col-xs-3 nopadding">
         @Html.DropDownListFor(model => model.dep_id, new SelectList(Model.lst_dep, "Value", "Text")
            , new { @class = "form-control", id = "dropdown_department" })
     </div>

     <div class="col-xs-1  top_buffer10" style="width:90px">
         @Html.LabelFor(model => model.lst_job, new { @class = "div_lable" })
     </div>
     <div class="col-xs-3 nopadding">
         @Html.DropDownListFor(model => model.job_id, new SelectList(Model.lst_job, "Value", "Text")
                     , "All Job Titles", new { @class = "form-control", id = "dropdown_job" })
     </div>

    <div class="col-xs-3" >
        <input type="button" class="btn btn-primary" value="View Questions" id="btn_view_Question" />
    </div>

</div>

<div class="col-xs-12 top_buffer50 nopadding ">
    <table id="SearchQuestionDT" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Keywords</th>
                <th>job_Desc</th>
                <th>dep_Obj</th>
                <th>Strategy</th>
                <th>fullQuestion</th>
                <th>#</th>
                <th>Question</th>
                <th>Details</th>
                <th>Solutions</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script src="~/Areas/Admin/Scripts/JobEntryDT.js"></script>
}
